<!DOCTYPE html>
<!-- Note that mystyle.css and the background image must be downloaded
to show the whole page-->
<!-- Demo page for exploring passing variable into route-->
<head>
    <title>watchawatchin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/general_format.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/search.css') }}">
    <script src="{{ url_for('static',filename='javascript/search.js') }}"></script>
</head>
<body>
    <div id="menu">
        <a href="login">Login/SignUp</a>
        <a href="profile">Profile</a>
        <a href="../">Return to Homepage</a>
    </div>
    
    <div id="topline">
        <hr style="width:100%;text-align:left;margin-left:0">
    </div>
    
    <div id="search">
        
            <form action="movie/"  method="Post">
              <input type="text" placeholder="Search.." name="movie_name">
              <button type="submit">Submit</button>
            </form>
        
    </div>
    
    
    
    <section>
        <ul id="all-shows" style="display: grid;">
            <li class="show" id="1">
                <h3 class="show-name"><a href="#">Titanic</a></h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdPugWzSnX3TWCYO-KlF4f5VF2JeMp6VGdAi2lQTLzsqHq00dW" width="200" height="240" alt="movie-poster" class="movie-poster">
                <div class="show-btns">
                    <i class="fa fa-solid fa fa-heart like-btn"></i>
                    <p class="like-count"> 113</p>
                </div>
            </li>
            <li class="show" id="2">
                <h3 class="show-name"><a href="#">Alfie</a></h3>
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQM9YY9AbVVgoSidhtjMBQfHqIKCSThXIj2qKQ_GNXe2AeoxWWh" width="200" height="240" alt="movie-poster" class="movie-poster">
                <div class="show-btns">
                    <i class="fa-solid fa-heart like-btn"></i>
                    <p class="like-count"></p>
                    <i class="fa-solid fa-comment"></i>
                </div>
            </li>
            <li class="show" id="3">
                <h3 class="show-name"><a href="#">twilight</a></h3>
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS138xY8fb6CCCYjvYs1weViO97_HoTUZYUgo_8m4l46rnCZBRL" width="200" height="240" alt="movie-poster" class="movie-poster">
                <div class="show-btns">
                    <i class="fa-solid fa-heart like-btn"></i>
                    <p class="like-count"></p>
                    <i class="fa-solid fa-comment"></i>
                </div>
            </li>
        </ul>
    </section>
</body>