<!DOCTYPE html>
<html>
<head>
    <link href="static/css/user.css" rel="stylesheet"/>
    <title>Username</title>
</head>
<body>
    <div>top tabs/link to other pages</div>
    <br>
    <h1>-Username Here-</h1>
    <br><br>
    <div id="watch_list">
        <h2>Watch List</h2>
        <div id="watch1">
            <p>
                <a href="">Watch Movie 1</a>
            </p>
        </div>
        <div id="watch2">
            <p>
                <a href="">Watch Movie 2</a>
            </p>
        </div>
    </div>
    
    <div id="liked_list">
        <h2>Liked List</h2>
        <div id="like1">
            <p>
                <a href="">Liked Movie 1</a>        
            </p>
        </div>
    </div>
    
    <div id="disliked_list">
        <h2>Disliked List</h2>
        <div id="dislike1">
            <p>
                <a href="">Disliked Movie 1</a> 
            </p>
        </div>
    </div>
</body>
</html>
