h1{
    font-style: italic;
    font-size: +50px;
    color:rgb(255, 0, 0); 
    position:absolute; 
    left:45%; 
    top:15%
}

body{
    
    background-image: url('Public_domain_theatre.jpg'); background-size:cover; background-blend-mode: lighten;
}



div{
    border: 20px;
    width: 125vw;
    /* background-color:rgb(246, 250, 247); */
    background-color: transparent;
    margin-top: 50px;
}

#div-2{
    border: 20px;
    width: 25vw;
    background-color:rgb(107, 146, 171);
    margin-top: 50px;
}

a{
    font-size: +25px;
}