h1{
    font-style: italic;
    font-size: +50px;
    color:rgb(255, 0, 0); 
    position:absolute; 
    left:45%; 
    top:15%
}

body{
    
    background-image: url('Public_domain_theatre.jpg'); background-size:cover; background-blend-mode: lighten;
}



div{
    border: 20px;
    width: 50px;
    /* background-color:rgb(246, 250, 247); */
    background-color: transparent;
    margin-top: 50px;
}

#div-poster{
    border: 20px;
    width: 25vw;
    background-color:transparent;
    margin-top: 10px;
    float:left
}

#div-likes{
    border: 20px;
    width: 10vw;
    background-color:transparent;
    margin-top: 200px;
    float:left
}

#div-desc{
    border: 20px;
    border-radius: 25% 10%;
    width: 20vw;
    background-color:rgb(107, 146, 171);
    margin-top: 30px;
    margin-left: 10px;
    padding: 10px 50px 20px;
    float:left
}

a{
    font-size: +25px;
}