h1{
    font-style: italic;
    font-size: +60px;
    color:rgb(180, 46, 201);  
    position:absolute; 
    left:45%; 
    top:15%
}

body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
    url('Public_domain_theatre.jpg'); background-size:cover;
}



div{
    border: 20px;
    width: 100%;
    /* background-color:rgb(246, 250, 247); */
    background-color: transparent;
    margin-top: 50px;
    padding: 30px;
}

#div-poster{
    border: 20px;
    width: 25%;
    background-color:transparent;
    margin-top: 10px;
    margin-left: 10px;
    padding: 15pm;
    float:left
}

#div-likes{
    border: 20px;
    width: 25%;
    background-color:transparent;
    margin-top: 200px;
    float:left
}

#div-desc{
    border: 20px;
    border-radius: 25% 10%;
    width: 25%;
    background-color:rgb(157, 223, 191);
    margin-top: 30px;
    margin-left: 10px;
    padding: 15px 50px 20px;
    float:left
}

a{
    font-size: +25px;
}