h1{
    font-style: italic;
    font-size: +25;
    color:red; 
    position:absolute; 
    left:45%; 
    top:20%
}
body{
    background-image: url('Public_domain_theatre.jpg'); background-size:cover;
}
table{
    border: 2pt;
    position:absolute; 
    left:25%; 
    top:33%
}
th{
    font-size: +15;
    color:red; 
}