/* the css rules for userprofile.html 
Contains basic formatting for laying out a table
Team3 Watchawatchin
Marcus Almanza


*/
h1 {
    color: white;
}
h2 {
    color: white;
}
body{
  background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.3)),
  url('Public_domain_theatre.jpg'); background-size:cover;
}
#nav-div{
  font-size: 25px;
  border: 20px;
  width: 100%;
  /* background-color:rgb(246, 250, 247); */
  background-color: transparent;
  margin-top: 50px;
  padding: 30px;
  color: black
}
div {
    /* font-family: Arial; */
    font-size: 20;
    color: white;
}
.column {
  float: left;
  width:33%;
  padding: 10px;
    
}
.column:before {
  padding: 5px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
