<!DOCTYPE html>
<!-- Returns if account creation is successful.  -->


<head>
    <title>watchawatchin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/general_format.css') }}">
</head>
<!--Top navigation bar-->
<body>
    <!--Build urls for login and user pages-->
    <div>
        <a href="{{url_for('login')}}">Login</a> | <a href="{{url_for('signup')}}">SignUp</a> | <a href="{{url_for('user_profile')}}">Profile</a> | <a href="../">Return to Homepage</a>
    </div>
    <h1>whatchawatchin?</h1>
    <!-- Button bring you to search page-->
    <table>
        <th>
            {{ username }} logged in!<br>
              <br>
        </th>

    </table>
</body>
