<!DOCTYPE html>

<html>
    <head>
        <title>{{moviename}}</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/movie_detail_format.css') }}">
        <script src="../static/search.js"></script>
    </head>
    
    <body>
        <!--Upper navigation bar-->
        <div id="nav-div">
            <a href="{{url_for('login')}}">Login</a> | <a href="{{url_for('signup')}}">SignUp</a> | <a href="{{url_for('user_profile')}}">Profile</a> | <a href="../../">Return to Homepage</a>
        </div>
       
        
        <!-- Movie Title-->
        <div id="div-title">
            <h1>Twilight</h1>
        </div>
            <hr><br>
        <!-- Movie Poster-->
        <div id="div-poster">
            <h3>
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS138xY8fb6CCCYjvYs1weViO97_HoTUZYUgo_8m4l46rnCZBRL" width="100%" height="100%"/>
            </h3>
        </div>
        <!-- Movie Likes-->
        <!-- <div id="div-likes">
            <button onclick="displaycount1()"> <span style="color:red; float:left;">&#x2764; love it</span> </button><br>
        </div> -->
        <!-- Movie Description-->
        <div id="div-desc">
            <h3>
                Language: English<br>
                Genres: Romance,Drama<br>
                Runtime: 93 Minutes<br>
                Release Year: 2008<br>
                Average Rating: 5.1<br>
            </h3>
        </div>
        <!-- Movie Blurb/Review-->
        <div id="div-desc">
            <h3>
                "An epic exploration of magical realism paired with teenage angst. You won't get a better sense for werewolf action than this."
            </h3>
            <br>
            <br>
        </div>
        <div id="div-trailer">
        <iframe width="850" height="400" src="https://www.youtube.com/embed/QDRLSqm_WVg" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
        </div>
</body>
</html>
