<!DOCTYPE html>

<html>
    <head>
        <title>Alfie</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/movie_detail_format.css') }}">
    </head>
    <body>
        <div>
            <a href="{{url_for('login')}}">Login/SignUp</a>
            <hr>
            <a href="{{url_for('user_profile')}}">Profile</a>
            <hr>
            <a href="">Return to Homepage</a>
        </div>
<body>
<div>
    <h1>Alfie</h1>
</div>
    <br><hr><br>
<div>
    <h3>
        <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQM9YY9AbVVgoSidhtjMBQfHqIKCSThXIj2qKQ_GNXe2AeoxWWh" width="200" height="240" alt="movie-poster" class="movie-poster"/>
    </h3>
</div>
<div id="div-2">
    <h3>
        Genre: Action<br>
        Runtime: 60 Minutes<br>
        Release Year: 2018<br>
    </h3>
</div>

</body>
</html>
    

