<!DOCTYPE html>
<!-- This is a template for the search page.  The page sends user input to the
flask server via a Post form action.-->

<!-- Documentation updated 5/2/23, Chris 
Code update 5/2/23, Chris -> Updated links in div-->


<head>
    <title>watchawatchin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/general_format.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/search.css') }}">
    
    
</head>
<body>
    <!--Upper navigation bar-->
    <div>
        <a href="{{url_for('login')}}">Login/SignUp</a>
        <a href="{{url_for('user_profile')}}">Profile</a>
        <a href="../">Return to Homepage</a>
    </div>
    <div>
    <!-- Search bar and submit button-->
    <h1>
        <form action="movie/"  method="Post">
          <input type="text" placeholder="Search.." name="movie_name">
          <button type="submit">Submit</button>
        </form>
    </h1>
    </div>
    
    <div style="padding-top:30px;">
        
        <script>
        var count1 =(function () {
            
            var counter = 276;
            return function () {return counter +=1;}
        })();
            
        var count2 =(function () {
            
            var counter = 53;
            return function () {return counter +=1;}
        })();
            
        var count3 =(function () {
            
            var counter = 133;
            return function () {return counter +=1;}
        })();
            
        function displaycount1(){
            document.getElementById("carrier1").innerHTML = count1();
            
        }
            
        function displaycount2(){
            document.getElementById("carrier2").innerHTML = count2();
           
        }
            
        function displaycount3(){
            
            document.getElementById("carrier3").innerHTML = count3();
        }
        </script>
    
    
    
    
        
    </div>
</body>

<section>
        <ul id="all-shows" style="display: grid;">
            <li class="show" id="1">
                <h3 class="show-name"><a style="text-decoration:none" href="{{ url_for('titanic') }}">Titanic</a></h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdPugWzSnX3TWCYO-KlF4f5VF2JeMp6VGdAi2lQTLzsqHq00dW" width="200" height="240" alt="movie-poster" class="movie-poster">
                <div class="show_btn" style="width: 200px background: #0a2239;">
                    <div class="love_btn"style="float:left;">
                    <button onclick="displaycount1()"> <span style="color:red; float:left;">&#x2764; love it</span> </button>
                    </div>
                    <div class="counter" style="width: 50px background: #0a2239; float:left; padding-left:10px;">
                    <p id="carrier1"  style="width: 250px background: #0a2239; color:white; float:left;"> 276 </p>
                    </div>
                    
                </div>
  
                    
                
            </li>
            <li class="show" id="2">
                <h3 class="show-name"><a href="{{ url_for('alfie') }}" style="text-decoration:none">Alfie</a></h3>
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQM9YY9AbVVgoSidhtjMBQfHqIKCSThXIj2qKQ_GNXe2AeoxWWh" width="200" height="240" alt="movie-poster" class="movie-poster">
                <div class="show_btn" style="width: 200px background: #0a2239;">
                    <div class="love_btn" style="float:left;">
                    <button onclick="displaycount2()"> <span style="color:red; float:left;">&#x2764; love it</span> </button>
                    </div>
                    <div class="counter" style="float:left; padding-left:10px;">
                    <p id="carrier2"  style="color:white; float:left;"> 53 </p>
                    </div>
                    
                </div>
            </li>
            <li class="show" id="3">
                <h3 class="show-name"><a href="{{ url_for('twilight') }}" style="text-decoration:none">twilight</a></h3>
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS138xY8fb6CCCYjvYs1weViO97_HoTUZYUgo_8m4l46rnCZBRL" width="200" height="240" alt="movie-poster" class="movie-poster">
                <div class="show_btn" style="width: 200px background: #0a2239;">
                    <div class="love_btn" style="float:left;">
                    <button onclick="displaycount3()"> <span style="color:red; float:left;">&#x2764; love it</span> </button>
                    </div>
                    <div class="counter" style="float:left; padding-left:10px;">
                    <p id="carrier3"  style="color:white; float:left;"> 133 </p>
                    </div>
                    
                </div>
            </li>
        </ul>
    </section>