<!DOCTYPE html>
<!-- Note that mystyle.css and the background image must be downloaded
to show the whole page-->
<!-- Demo page for exploring passing variable into route-->
<head>
    <title>watchawatchin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/general_format.css') }}">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"> 
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/search.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/likebutton.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='Javascript/likebutton.js') }}">
    
</head>
<body>
    <div id="menu">
        <a href="login">Login/SignUp</a>
        <a href="profile">Profile</a>
        <a href="../">Return to Homepage</a>
    </div>
    
    <div id="topline">
        <hr style="width:100%;text-align:left;margin-left:0">
    </div>
    
    <div id="search">
        
            <form action="movie/"  method="Post">
              <input type="text" placeholder="Search.." name="movie_name">
              <button type="submit">Submit</button>
            </form>
        
    </div>
    
    <script>
        var count =(function () {
            
            var counter1 = 133;
            var counter2 = 231;
            var counter3 = 67;
            return function () {return counter +=1;}
        })();
        function displaycount(){
            document.getElementById("carrier1").innerHTML = count();
            document.getElementById("carrier2").innerHTML = count();
            document.getElementById("carrier3").innerHTML = count();
        }
    </script>
    
    
    
    <section>
        <ul id="all-shows" style="display: grid;">
            <li class="show" id="1">
                <h3 class="show-name"><a href="template/movie_detail_titanic.html" style="text-decoration:none">Titanic</a></h3>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRdPugWzSnX3TWCYO-KlF4f5VF2JeMp6VGdAi2lQTLzsqHq00dW" width="200" height="240" alt="movie-poster" class="movie-poster">
                <p id="carrier1" align="center" style="color:white"> 133 </p>
                    <button onclick="displaycount()"> <span style="color:red;">&#x2764;</span> </button>
        
  
                    
                
            </li>
            <li class="show" id="2">
                <h3 class="show-name"><a href="{{ url_for('filename='movie_detail_Alfie.html') }}">Alfie</a></h3>
                <img src="https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcQM9YY9AbVVgoSidhtjMBQfHqIKCSThXIj2qKQ_GNXe2AeoxWWh" width="200" height="240" alt="movie-poster" class="movie-poster">
                <div class="show-btns">
                    
                    <button onclick="displaycount()"> <span style="color:red;">&#x2764;</span> </button>
                    <p id="carrier2" align="center" style="color:white"> 133 </p>
                </div>
            </li>
            <li class="show" id="3">
                <h3 class="show-name"><a href="movie_detail_twilight.html" style="text-decoration:none">twilight</a></h3>
                <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS138xY8fb6CCCYjvYs1weViO97_HoTUZYUgo_8m4l46rnCZBRL" width="200" height="240" alt="movie-poster" class="movie-poster">
                <div class="show-btns">
                    <button onclick="displaycount()"> <span style="color:red;">&#x2764;</span> </button>
                    <p id="carrier3" align="center" style="color:white"> 133 </p>
                </div>
            </li>
        </ul>
    </section>
</body>