<!DOCTYPE html>
<!-- Note that mystyle.css and the background image must be downloaded
to show the whole page-->
<head>
    <title>watchawatchin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/general_format.css') }}">
</head>
<body>
    <div>
        <a href="{{url_for('login')}}">Login/SignUp</a>
        <a href="{{url_for('user_profile')}}">Profile</a>
        <a href="">Return to Homepage</a>
    </div>
    <h1>whatchawatchin?</h1>
    <table>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button>{{ data[0][0] }}</button>
            </form>
            
        </th>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button>{{ data[1][0] }}</button>
            </form>
        </th>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button>{{ data[2][0] }}</button>
            </form>
        </th>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button>{{ data[3][0] }}</button>
        </th>
        <th>
            Placeholder
        </th>
    </table>
</body>
