<!DOCTYPE html>
<!-- Home page for the website, links to other pages -->

<!-- Documentation updated 5/2/23, Chris 
Code update 5/2/23, Chris -> Updated Button names-->
<head>
    <title>watchawatchin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/general_format.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<!--Top navigation bar-->
<body>
    <!--Build urls for login and user pages-->
     <!--Upper navigation bar-->
     <div id="nav-div">
        <a href="{{url_for('login')}}">Login</a> | <a href="{{url_for('signup')}}">SignUp</a> | <a href="{{url_for('user_profile')}}">Profile</a> | <a href="">Return to Homepage</a>
    </div>
    
    <h1>whatchawatchin?</h1>
    <!-- Button bring you to search page-->
    <table>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button>Action</button>
            </form>
            
        </th>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button> Comedy </button>
            </form>
        </th>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button>Drama</button>
            </form>
        </th>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button>Romance</button>
        </th>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button>Thriller</button>
        </th>
    </table>
    <br>
    <!-- About us -->
    <div id="div-2">
        Welcome to whatchawatchin'! We are just a 
        small company working to provide you with 
        a comprehensive guide to your next streaming 
        binge or ultimate movie night! 
        <br><br>
        Feel free to check out our Git repo or send us a message with feedback.
        <br>
    </div>    
    <!-- Homepage Footer Info -->
    <div id="div-footer">
        <a href = "mailto: kafr5070@colorado.edu.com" target="_blank"> <i class="fa fa-paper-plane" style="font-size:60px;"></i></a> 
        <a href="https://github.com/fraykate/team3" target="_blank"> <i class="fa fa-github" style="font-size:60px;"></i></a>
    </div>
</body>
