<!DOCTYPE html>
<!-- Home page for the website, links to other pages -->

<!-- Documentation updated 5/2/23, Chris 
Code update 5/2/23, Chris -> Updated Button names-->
<head>
    <title>watchawatchin</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/general_format.css') }}">
</head>
<!--Top navigation bar-->
<body>
    <!--Build urls for login and user pages-->
     <!--Upper navigation bar-->
     <div id="nav-div">
        <a href="{{url_for('login')}}">Login</a> | <a href="{{url_for('signup')}}">SignUp</a> | <a href="{{url_for('user_profile')}}">Profile</a> | <a href="">Return to Homepage</a>
    </div>
    
    <h1>whatchawatchin?</h1>
    <!-- Button bring you to search page-->
    <table>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button>Action</button>
            </form>
            
        </th>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button> Comedy </button>
            </form>
        </th>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button>Drama</button>
            </form>
        </th>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button>Romance</button>
        </th>
        <th>
            <form action= "{{url_for('search_movie')}}">
                <button>Thriller</button>
        </th>
    </table>
</body>
